# Exclude folders
mmo-frontend/
Util/
mmo-backend/public/

# Exclude files
DONOTDELETE_dbLogin.txt

# Optional: Exclude Unity junk
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
obj/
*.user
*.sln

# OS junk
.DS_Store
Thumbs.db

mmo-backend/node_modules/
mmo-frontend/node_modules/
mmo-game-server/node_modules/
dump.sql

# Windows system device names that can appear due to command redirection
nul
con
aux
prn

# Build artifacts
*.dll
*.exe
*.pdb
